@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700|Roboto:400,700')

$primaryFont: 'Raleway', sans-serif
$secondaryFont: 'Roboto', sans-serif

body,
html
  padding: 0
  margin: 0

p
  margin-top: 0
  &:last-child
    margin-bottom: 0

.crew-cs-site-wrapper
  position: relative
  overflow: hidden
  font-family: $secondaryFont
  .crew-cs-video-overlay
    display: block
    position: fixed
    left: 0
    top: 0
    overflow: hidden
    z-index: -999
    min-width: 100%
    min-height: 100%
    height: 100%
    width: 100%
  #crew-cs-video
    position: fixed
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    overflow: hidden
    z-index: -1000

  .crew-cs-content-wrapper
    z-index: 2
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 100%
    min-width: 100%
    display: flex
    align-items: center
    align-content: center
    justify-content: center
    .crew-cs-conent-bg
    .crew-cs-content
      display: flex
      align-items: center
      align-content: flex-start
      justify-content: flex-start
      margin: 0 auto
      padding: 40px 20px
      background-color: rgba(22, 22, 22, 0.7)
      .crew-cs-logo
        margin-right: 20px
        max-width: 140px
        min-width: 80px
        width: 140px
      .crew-cs-content-details
        .crew-cs-status
          font-family: $primaryFont
          font-weight: 300
          margin-bottom: 10px
        .crew-cs-page-title
          font-family: $primaryFont
          font-weight: 700
          margin: 0
          margin-bottom: 10px
          &::after
            display: none
        .crew-cs-description
          font-size: 14px
          line-height: 1.6

    .crew-cs-contacts-wrapper
      padding: 20px
      p
        color: #fff
        font-size: 13px
        margin-bottom: 0px
      span
        font-weight: 700
  .crew-cs-footer-wrapper
    z-index: 3
    position: fixed
    bottom: 0
    min-width: 100%
    width: 100%
    padding: 15px 0
    border-top: 4px solid rgba(25, 177, 135, 0.9)
    text-align: center
    font-size: 11px

@media (max-width: 650px)
  .crew-cs-site-wrapper
    .crew-cs-content-wrapper
      flex-direction: column
      align-items: center
      align-content: center
      justify-content: center
      .crew-cs-content
        padding: 20px
        align-items: center
        align-content: center
        justify-content: center
        .crew-cs-logo
          min-width: 80px
        .crew-cs-content-details
          .crew-cs-page-title
            font-size: 18px
            margin-bottom: 10px
          .crew-cs-description
            display: none
      .crew-cs-contacts-wrapper
        width: 100%
        padding: 20px
        p
          font-size: 12px
        .crew-cs-contacts-description
          display: none
    .crew-cs-footer-wrapper
      padding: 10px 0
      text-align: center
