#wpadminbar .crew-cs-active > .ab-item {
	color:#fff;
	background-color: #f44;
	font-size: 10px !important;
}

#wpadminbar .crew-cs-active:hover > .ab-item {
	background-color: #a30 !important;
	color:#fff !important;;
}
